
<table class="am-table am-table-hover" style="background-color:white;">
    <tr><td width="130">错误号：</td><td>
		<input type="text" name="errNumber"  ng-model="currentRow.exception.errNumber"  >
	</td></tr>
	<tr><td >错误信息格式：</td><td>
		<textarea rows="8" cols="50" ng-model="currentRow.exception.errInfo"/>
	</td></tr>
	<tr><td >错误信息：</td><td>
		<textarea rows="8" cols="50" ng-model="currentRow.exception.message"/>
	</td></tr>
	<tr><td >控制台信息：</td><td>
		<textarea rows="8" cols="50" ng-model="currentRow.exception.printStack"/>
	</td></tr>
	<tr><td>状态：</td><td>
	    <label ng-if="currentRow.exception.status==null||currentRow.exception.status==0">未处理</label>
	    <label ng-if="currentRow.exception.status==1">已处理</label>
	    <label ng-if="currentRow.exception.status==2">不需要处理</label>
	</td></tr>
	<tr><td >说明：</td><td>
		<textarea rows="8" cols="50" ng-model="currentRow.exception.remark"/>
	</td></tr>
	<tr><td>创建时间：</td><td>
		<input type="text" name="createTime"  ng-model="currentRow.exception.createTime"  >
	</td></tr>
	<tr ng-if="currentRow.exception.status !=0"><td>更新时间：</td><td>
		<input type="text" name="updateTime"  ng-model="currentRow.exception.updateTime"  >
	</td></tr>

</table>







