<div ng-controller="">

    <div class="am-card">
        <div class="am-card-header">
            <div class="clearfix">
                <div class="left">
                    <span>收件主题</span>
                </div>
                <div class="right">
                    <span> 2017-4-27 15:58:41 </span>
                </div>
            </div>
        </div>
        <!---->
        <div class="am-card-body">
            <ul>
                <li>一一一一一 一 一一一一 </li>
            </ul>
        </div>
        <!---->
        <div class="am-card-footer">
            <div class="clearfix">
                <div class="left">
                    <span>发件人：张三</span>
                </div>
                <div class="right">
                    <div class="btn-group-sm">
                        <button class="btn btn-danger">删除</button>
                        <button class="btn btn-primary">查看</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>